//Colors
$primary: #fc0000;
$primary-hover: #b23301;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;
$positive: #00ff00;
$negative: #ff0000;

//Transitions
$smooth: all .3s ease-in-out;