@import './variables';

.cart {
    background: $secondary;
    padding-top: 20px;
    padding-bottom: 20px;
}

.empty__cart {
    text-align: center;
}

.order {
    width: 50%;
    margin: auto;
}

.order > .order__title {
    display: flex;
    align-items: center;
    border-bottom: 3px solid $gray;
}

.order > .order__title > .MuiSvgIcon-root {
    font-size:xx-large;
    padding-top: 15px;
}

.order > .order__title > h1 {
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}

.order > .item__list {
    border-bottom: 3px solid $gray;
}