@import './variables';

.menu {
    padding: 10px 0px;
}

.menu > .menu__content > h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.menu > .menu__content > .item__cards {
    display: flex;
    flex-wrap: wrap;
}




